.custom-input {
  padding: 0px 24px 0px 24px;
  border-radius: 100px;
  border: 1px solid #d2d2d7;
  min-height: 52px;
}

.button {
  width: 100%;
  height: 52px;
  padding: 0px 24px 0px 24px;
  border-radius: 100px;
  gap: 10px;
  background-color: #0f61ff;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease-in-out;
}

.button:hover {
  background-color: #0079ff;
}
