.cardBox {
  width: 100%;
  min-height: 153px;
  border-radius: 20px;
  background: var(--Netural-1, #f5f5f7);
  box-shadow: none;
  box-sizing: border-box;
  margin: 0 auto;
}

.card-title {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

.cardBalance {
  color: var(--Black, #1d1d1f);
  font-family: "Inter", sans-serif;
  font-size: 28px;
  font-weight: 600;
  line-height: 26px;
  text-align: center;
}

.cardBalanceDecimal {
  font-size: 20px;
}

.btn.btn-primary.btn-circle,
.btn.btn-outline-primary.btn-circle {
  height: 40px;
  width: 88px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  font-size: 16px;
  transition: background-color 0.3s ease-in-out;
}

.btn.btn-outline-primary.btn-circle {
  color: #0f61ff;
  border-color: #d2d2d7;
  background-color: transparent;
}

.btn.btn-primary.btn-circle {
  background-color: #0f61ff;
  color: #fff;
  border: none;
}

.btn.btn-primary.btn-circle:hover {
  color: #fff;
  outline: none;
}

.btn.btn-outline-primary.btn-circle:hover {
  color: #0f61ff;
  border-color: #0f61ff;
  background-color: transparent;
  outline: none;
}

@media (min-width: 769px) {
  .btn.btn-primary.btn-circle,
  .btn.btn-outline-primary.btn-circle {
    font-size: 16px;
    margin: 0;
  }

  .btn.btn-primary.btn-circle:hover {
    background-color: #4e0aeb;
  }
}

@media (max-width: 768px) {
  .cardBox {
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  .cardBalance {
    font-size: 20px;
    line-height: 28px;
  }
  .cardBalanceDecimal {
    font-size: 16px;
    line-height: 16px;
  }

  .btn.btn-primary.btn-circle,
  .btn.btn-outline-primary.btn-circle {
    width: auto;
    font-size: 14px;
    height: 100%;
    margin: 5px 0;
  }

  .btn.btn-primary.btn-circle:hover {
    background-color: #4e0aeb;
  }
}

@media (max-width: 1300px) {
  .cardBalance {
    font-size: 18px;
    line-height: 18px;
  }
  .cardBalanceDecimal {
    font-size: 14px;
    line-height: 14px;
  }
}
