<div class="card cardBox">
  <div class="card-body" style="padding: 30px">
    <h2 class="card-title">Balance</h2>
    <div
      class="d-flex flex-column flex-md-row justify-content-between align-items-center"
    >
      <div>
        <div *ngIf="isLoading" role="status">
          <img
            src="./assets/icons/arrow-spin.svg"
            alt="Loading..."
            class="svg-spinner"
          />
        </div>

        <ng-container *ngIf="!isLoading">
          <p class="cardBalance" [@fadeInAnimation]>
            {{ tezMainAmount }}<span *ngIf="tezDecimalAmount">.</span
            ><span class="cardBalanceDecimal">{{ tezDecimalAmount }} ꜩ</span>
          </p>
          <p class="text-muted" [@fadeInAnimation]>${{ usdBalance }}</p>
        </ng-container>
      </div>
      <div
        class="d-flex justify-content-center align-items-center mt-3 mt-md-0"
      >
        <button
          type="button"
          class="btn btn-outline-primary btn-circle mr-2"
          (click)="
            openLink(
              'https://widget.wert.io/01HNMCSXNZFNNFY1KG2ECE95A7/widget/?commodity=XTZ%3ATezos&address=' +
                address
            )
          "
        >
          Buy tez
        </button>
        <button
          type="button"
          class="btn btn-primary btn-circle"
          (click)="sendTez()"
        >
          Send
        </button>
      </div>
    </div>

    <div [@fadeInAnimation]>
      <div [@fadeInAnimation] *ngFor="let token of tokens">
        <div class="token-box" style="padding-top: 18px; margin-top: 18px">
          <div class="justify-content-between align-items-center">
            <img
              [src]="
                token?.token?.metadata?.sanitizedThumbnailUri ??
                'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII='
              "
              style="width: 40px; height: 100%; margin-right: 12px"
            />
            <span style="font-weight: 600">{{
              token?.token?.metadata?.symbol
            }}</span>
            <span style="position: absolute; left: 170px; margin-top: 8px">
              {{ splitNumber(token?.humanReadableBalance)[0]
              }}<span *ngIf="splitNumber(token?.humanReadableBalance)[1]"
                >.</span
              ><span class="small-text">{{
                splitNumber(token?.humanReadableBalance)[1]
              }}</span>
            </span>
            <button
              style="float: right; width: 40px"
              type="button"
              class="btn btn-outline-primary btn-circle"
              (click)="sendToken(token)"
            >
              <img
                class="copy-button"
                src="./assets/icons/MdOutlineCallReceivedBlue.svg"
                alt="Sent"
                style="width: 16px; height: 16px; transform: rotate(180deg)"
              />
            </button>
          </div>
        </div>
      </div>
      <div
        *ngIf="tokens.length >= 5"
        class="load-more-box justify-content-between align-items-center"
        style="padding-top: 18px; margin-top: 18px; display: flex"
      >
        <div
          style="
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
          "
        >
          <div>
            <a
              href="https://tzkt.io/{{ address }}/balances/"
              target="_blank"
              class="explorer-link"
              >Load More</a
            >
            <img
              src="./assets/icons/FiExternalLink.svg"
              alt="SVG Image"
              style="width: 16px; height: 16px"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
