<div class="modal-header">
  <h2 class="modalTitle modal-title pull-left">Share Account</h2>
  <button
    type="button"
    class="btn-close close pull-right"
    aria-label="Close"
    (click)="decline()"
  >
    <span aria-hidden="true" class="visually-hidden">&times;</span>
  </button>
</div>
<div class="modalContainer">
  <div class="modal-body">
    <p>Do you want to connect to the following DApp?</p>
    <p class="inputTitle">DApp:</p>
    <div class="inputBox">
      <p class="inputText">{{ appMetadata?.name }}</p>
    </div>
    <p class="inputTitle">Account:</p>
    <div class="inputBox">
      <p class="inputText">{{ account?.address }}</p>
    </div>
  </div>

  <div class="modal-footer" style="width: fit-content">
    <button
      type="button"
      class="button btn btn-block btn-primary"
      (click)="confirm()"
    >
      Share
    </button>
  </div>
</div>
