<div class="footer-container mt-3">
  <div class="row custom-footer justify-content-center text-muted">
    <div class="col-6 d-flex align-items-center">
      <span (click)="modalService.showAboutModal()">About</span>
      <div class="separator"></div>
      <span (click)="modalService.showPrivacyModal()">Privacy Policy</span>
      <div class="separator"></div>
      <span (click)="modalService.showTosModal()">Terms of Use</span>
    </div>
    <div class="col-6 text-right">
      Powered by <u><a href="https://tezos.com" target="_blank" class="text-footer">MetaMask Snaps</a></u>
    </div>
  </div>
</div>
