.footer-container {
  background: #f5f5f7;
  color: #424245;
  font-size: 12px;
  padding: 40px;
  border-radius: 20px;
  max-width: 1510px;
}

.custom-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.separator {
  width: 1px;
  height: 20px;
  background: #d2d2d7;
  margin: 1rem;
}

.text-footer {
  color: #86868b;
}

.footer-link {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  text-decoration: none;
  color: #424245; 
}

.custom-footer span {
  white-space: nowrap;
}

@media (min-width: 768px) {
  .footer-container {
    padding: 0px 0px;
  }

  .custom-footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .custom-footer span {
    white-space: nowrap;
  }
}
