<div class="footer-container mt-3 px-lg-5 py-lg-2">
  <div class="row custom-footer justify-content-between text-muted">
    <div class="d-flex align-items-center">
      <a href="#" (click)="modalService.showAboutModal()" class="footer-link">About</a>
      <div class="separator"></div>
      <a href="#" (click)="openLink('#')" class="footer-link">Privacy Policy</a>
      <div class="separator"></div>
      <a href="#" (click)="openLink('#')" class="footer-link">Terms of Use</a>
      <div class="separator"></div>
      <a href="#" (click)="
        openLink('https://github.com/airgap-it/tezos-metamask-snap/wiki/FAQs')
      " class="footer-link footer-link-faqs">FAQs</a>
    </div>
    <div class="d-flex align-items-center">
      <span class="text-right text-tezos">
        Powered by
        <u><a href="https://metamask.io/snaps/" target="_blank" class="text-footer">MetaMask Snaps</a></u>
      </span>
    </div>
  </div>
</div>