.button {
  width: 100px;
  height: 40px;
  padding: 0px 24px 0px 24px;
  gap: 10px;
  background-color: #0f61ff;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}


.button:hover {
  background-color: #183FD7;
}

.btn.btn-outline-primary.btn-circle {
  color: #0f61ff;
  border-color: #d2d2d7;
  background-color: transparent;
}

.btn.btn-outline-primary.btn-circle:hover {
  color: #0f61ff;
  border-color: #0f61ff;
  background-color: transparent;
  outline: none;
}


