.nft-info {
  display: flex;
  align-items: center;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  flex-wrap: wrap;
}

.text-container {
  flex: 1;
  text-align: left;
  
}

.image-container img {
  max-width: 100%;
  height: auto;
}

.custom-link {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: #0f61ff;
  text-decoration: none;
  display: inline-block;
  margin-top: 5px;
}


.text-name {
  font-weight: bold;
  margin-top: 10px;
}

.custom-link:hover {
  text-decoration: underline;
}

.link-icon {
  width: 14px;
  height: 14px;
  margin-left: 1px;
  margin-bottom: 1px;
}