<div class="modal-header">
  <h4 class="modal-title pull-left">Remove Account</h4>
  <button
    type="button"
    class="btn-close close pull-right"
    aria-label="Close"
    (click)="decline()"
  >
    <span aria-hidden="true" class="visually-hidden">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p>Do you want to remove this account?</p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-light" (click)="decline()">Close</button>
  <button type="button" class="btn btn-primary ml-1" (click)="confirm()">
    Remove Account
  </button>
</div>
