<div class="container-fluid py-3 px-0 px-md-4">
  <nav
    class="navbar navbar-expand-md navbar-light d-flex justify-content-between"
  >
    <div class="flex-container">
      <img src="./assets/tezos-logo-main.svg" class="logo" />
      <div class="text-container">
        <span class="header pt-1 ml-1 large">Tezos Wallet Explorer</span>
        <span class="header ml-1 small">powered by MetaMask</span>
      </div>
    </div>

    <ul class="navbar-nav d-flex align-items-md-center">
      <li class="ml-md-3">
        <div class="addressBox">
          <img
            src="./assets/metamask-logo-sm.svg"
            alt="SVG Image"
            style="width: 16px; height: 16px"
          />
          <div class="addressContainer">
            <div class="textAddress">
              {{ address | shortenString }}
            </div>
            <img
              (click)="copyToClipboard()"
              class="copy-button"
              src="./assets/icons/FiCopy.svg"
              alt="SVG Image"
              style="width: 16px; height: 16px"
            />
          </div>
        </div>
      </li>
      <li class="ml-md-3 qr-code">
        <button class="qr-button" (click)="showQrModal()">
          <span class="d-flex align-items-center">
            <img src="./assets/icons/qr-code-icon.svg" class="fa-icon" />
          </span>
        </button>
      </li>
      <li class="ml-md-3">
        <div class="addressBoxConnect">
          <span class="d-flex align-items-center" (click)="disconnect()">
            <img src="./assets/icons/FiLogOut.svg" class="fa-icon" />

            {{ accountService.hasAccounts ? "Disconnect" : "Connect" }}
          </span>
        </div>
      </li>
    </ul>
  </nav>
</div>
