<div class="container-fluid py-3 px-0 px-md-4">
  <nav
    class="navbar navbar-expand-lg navbar-light d-flex justify-content-between"
  >
    <a class="navbar-brand d-flex align-items-center" href="#" routerLink=""
      ><img src="./assets/logo.svg" /><span class="pt-1 ml-1"
        >Debug Wallet</span
      ></a
    >
    <ul class="navbar-nav d-flex align-items-md-center">
      <li class="nav-item">
        <a class="nav-link" href="https://docs.walletbeacon.io/" target="_blank"
          >Beacon Docs</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          href="https://github.com/airgap-it/beacon-sdk"
          target="_blank"
          >Beacon GitHub</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://discord.gg/vuf4Gtnqh7" target="_blank"
          >Discord</a
        >
      </li>

      <li class="ml-md-3">
        <span class="d-flex align-items-center">
          <!-- <img
            src="./assets/icons/circle-check-regular.svg"
            class="fa-icon mr-2"
          /> -->
          <button type="button" class="btn btn-light" (click)="clearStorage()">
            Reset Debug Wallet
          </button>
        </span>
      </li>
      <!-- <li class="ml-md-3">
        <span class="d-flex align-items-center">
          <img
            src="./assets/icons/circle-check-regular.svg"
            class="fa-icon mr-2"
          />
          Connected
        </span>
      </li> -->
    </ul>
  </nav>
</div>
