<div
  class="containerbox container-fluid px-md-5 pb-3"
  style="flex-direction: column"
>
  <div class="flex-container">
    <img src="./assets/tezos-logo-main.svg" class="logo" />
    <div class="text-container">
      <span class="header large">Tezos Wallet Explorer</span>
      <span class="header ml-1 small">powered by MetaMask</span>
    </div>
  </div>
  <br />
  <div class="imageBox">
    <div
      class="d-flex justify-content-center"
      style="width: 40px; height: 40px"
    >
      <img
        src="./assets/tezos-logo-sm.svg"
        alt="SVG Image"
        style="width: 100%; height: 100%"
      />
      <img
        src="./assets/icons/close.svg"
        alt="SVG Image"
        style="width: 20px; height: 100%; margin-left: 20px"
      />

      <img
        src="./assets/metamask-logo-sm.svg"
        alt="SVG Image"
        style="width: 100%; height: 100%; margin-left: 20px"
      />
    </div>
    <div class="textBox">
      <div class="metamasTextBox">
        <div class="metamaskTitle">
          Tezos Wallet Explorer, powered by MetaMask
        </div>
        <div class="metamaskSubtitle">
          <span *ngIf="isMobile"
            >The Tezos Wallet Explorer is not supported on mobile.</span
          >
          <ng-container *ngIf="!isMobile">
            <span *ngIf="isMetaMaskInstalled === null">
              Detecting MetaMask...
            </span>
            <span *ngIf="isMetaMaskInstalled === false">
              You need to install MetaMask. You can download it
              <a href="https://metamask.io/download/" target="_blank">here</a
              >. </span
            ><span *ngIf="isMetaMaskInstalled === true">
              Connect your MetaMask to access the Tezos Wallet Explorer.
            </span>
          </ng-container>
        </div>
      </div>

      <div>
        <div *ngIf="isMetaMaskInstalled && !isMobile" class="metamaskContainer">
          <div *ngIf="!isLoading" (click)="connect()" class="metamaskModal">
            <img class="metamaskLogo" src="./assets/metamask-logo.svg" />
            <div class="metamaskText">Connect with MetaMask</div>
          </div>
          <div *ngIf="isLoading" class="spinner-border mr-3" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>

        <div
          class="metamaskSubtitle red-text mt-3"
          *ngIf="errorCode === -32601"
        >
          Your version of MetaMask wallet does not support Snaps. Please update
          your MetaMask
          <a href="https://metamask.io/download/" target="_blank">here</a>. This
          can also happen if you have other wallet extensions active that
          overlap with MetaMask. Please disable them and try again.
        </div>
      </div>

      <div (click)="showInstructionsModal()" class="containerModal">
        <div class="instructionsModal">
          <div class="instructionsBox">
            <div class="footer">
              <img src="./assets/icons/FiAlertCircle.svg" class="icon" />
              <span class="text">Installation Guide</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-menu">
    <a
      href="#"
      (click)="openLink('https://github.com/airgap-it/tezos-snaps-wallet')"
      class="footer-link"
      >GitHub</a
    >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="2"
      height="20"
      viewBox="0 0 2 20"
      fill="none"
    >
      <path d="M1 0V20" stroke="#D2D2D7" />
    </svg>
    <a
      href="#"
      (click)="openLink('./assets/documents/privacy-policy.pdf')"
      class="footer-link"
      >Privacy Policy</a
    >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="2"
      height="20"
      viewBox="0 0 2 20"
      fill="none"
    >
      <path d="M1 0V20" stroke="#D2D2D7" />
    </svg>
    <a
      href="#"
      (click)="openLink('./assets/documents/terms-of-service.pdf')"
      class="footer-link"
      >Terms of Service</a
    >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="2"
      height="20"
      viewBox="0 0 2 20"
      fill="none"
    >
      <path d="M1 0V20" stroke="#D2D2D7" />
    </svg>
    <a
      href="#"
      (click)="
        openLink('https://github.com/airgap-it/tezos-metamask-snap/wiki/FAQs')
      "
      class="footer-link"
      >FAQs</a
    >
  </div>

  <div class="footerTezos">
    <span
      >Powered by
      <a
        href="https://metamask.io/snaps/"
        style="text-decoration: underline; color: #86868b"
        >MetaMask Snaps</a
      ></span
    >
  </div>
</div>
