.header {
  font-size: 24px;
}

::ng-deep .card {
  background: #f5f5f7;
  border-radius: 20px;
  border: none;
}

::ng-deep .card-header {
  border: none;
}

::ng-deep .btn-circle {
  border-radius: 100px;
}

::ng-deep modal-container {
  backdrop-filter: blur(15px);

  .modal-header {
    border-bottom: none;
  }

  .modal-footer {
    border-top: none;
  }
}

::ng-deep .modal-content {
  border-radius: 20px;
  padding: 50px;

  .close {
    margin-top: -50px;
    margin-right: -50px;
    width: 40px;
    height: 40px;
    padding: 10px;
    background: #f5f5f7;
    border-radius: 100px;
    justify-content: center;
    align-items: center;
  }
}

.no-shadow {
  box-shadow: none;
}

.infoInputBox {
  gap: 10px;
  display: flex;
  justify-content: left;
  align-items: center;
}

.infoInputText {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: auto;
  margin-bottom: auto;
}

.cardBox {
  box-shadow: none;
  box-sizing: border-box;
  margin: 0 auto;
}

// @media (max-width: 1490px) {
//   .cardBox {
//     width: 100%;
//   }
// }

@media (max-width: 768px) {
  // .cardBox {
  //   width: 580px;
  //   max-width: 100%;
  // }

  .fixed-width {
    min-width: none !important;
    max-width: none !important;
  }

  .operations-mobile {
    margin-top: 20px;
  }
}

.fixed-width {
  min-width: 500px;
  max-width: 500px;
}
