<app-landing *ngIf="!accountService.hasAccounts"></app-landing>

<!-- Toolbar -->
<app-header-item *ngIf="accountService.hasAccounts"></app-header-item>

<div *ngIf="accountService.hasAccounts" class="container-fluid px-md-5 pb-3">
  <div class="row">
    <div class="col-md-4">
      <!-- Balance Component -->
      <div class="card no-shadow mb-3">
        <app-account
          [balance]="balance"
          [usdBalance]="usdBalance"
          [address]="address"
          [tokens]="tokens"
        ></app-account>
      </div>
      <div class="card no-shadow mb-3">
        <div class="card-body">
          <div class="infoInputBox">
            <img
              src="./assets/icons/FiAlertCircleBlack.svg"
              alt="alert"
              style="width: 20px; height: 20px"
            />
            <p class="infoInputText">
              You will not be able to view this account within your MetaMask
              wallet, it will allow you to connect with Tezos dApps and sign
              transactions.
            </p>
          </div>
        </div>
      </div>

      <!-- Operations Component (Hidden on Mobile) -->
      <div class="card no-shadow mb-3 d-none d-md-block">
        <app-operations [operations]="operations"></app-operations>
      </div>
    </div>
    <div class="col-md-8">
      <!-- NFTs Component -->
      <app-nft-list [nfts]="nfts"></app-nft-list>
      <!-- only show on mobile -->
      <div class="card no-shadow mb-3 d-md-none">
        <app-operations [operations]="operations"></app-operations>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>

<router-outlet></router-outlet>
