<div class="modal-header">
  <button
    type="button"
    class="btn-close close pull-right"
    aria-label="Close"
    (click)="bsModalRef.hide()"
  >
    <span aria-hidden="true" class="visually-hidden">&times;</span>
  </button>
</div>
<div class="modal-body text-center">
  <h4 class="modal-title">{{ title }}</h4>
  <qrcode
    (click)="copyToClipboard()"
    [qrdata]="qrData"
    [width]="256"
    [errorCorrectionLevel]="'M'"
  ></qrcode>

  <div class="addressContainer">
    <img
      src="./assets/icons/Avatar.svg"
      alt="SVG Image"
      style="width: 18px; height: 18px"
    />
    <div class="addressBox">
      <div class="textAddress">{{ qrData | shortenString }}</div>
      <img
        (click)="copyToClipboard()"
        src="./assets/icons/FiCopy.svg"
        alt="SVG Image"
        style="width: 16px; height: 16px; margin-left: 6px"
      />
    </div>
  </div>
</div>
