<div class="modal-header">
  <h4 class="modal-title pull-left">Account Selection</h4>
  <button
    type="button"
    class="btn-close close pull-right"
    aria-label="Close"
    (click)="bsModalRef.hide()"
  >
    <span aria-hidden="true" class="visually-hidden">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p>Select one of the following accounts to connect:</p>
  <div
    class="d-flex justify-content-between align-items-center pb-3"
    *ngFor="let account of accounts$ | async"
  >
    <div class="d-flex justify-content-between align-items-center">
      <div>
        <span class="text-monospace m-0 text-break">{{ account.address }}</span>
        <span class="badge badge-primary">{{ account.type }}</span>
        <span class="badge badge-light ml-md-2">{{ account.network }}</span>
        <span *ngIf="account.wallet" class="badge badge-light ml-md-2">{{
          account.wallet.name
        }}</span>
      </div>
    </div>
    <button
      type="button"
      class="btn btn-outline-primary"
      (click)="select(account)"
    >
      Connect
    </button>
  </div>
</div>
