.cardBox {
  width: 100%; 
  max-width: 950px; 
  min-height: 713px;
  border-radius: 20px;
  background: var(--Netural-1, #F5F5F7); 
  margin: 0 auto; 
  padding: 20px; 
  box-sizing: border-box; 
  box-shadow: none;
  margin-left: 4.5rem;
}

@media (max-width: 768px) {
  .cardBox {
    max-width: 100%;
    margin-left: 0; 
  }
}

.centered-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; 
  margin: 3rem;
}


.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 10px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;

  p {
    font-size: 12px;
  }
}


.custom-grid-item {
  width: 182px;
  height: 226px;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
 
  background-color: #FFFFFF; /* White background */
  box-shadow: 0px 0px 10px 0px #0000001A; /* Box shadow */
  border: none; /* Remove the border */
}






