<div class="card cardBox">
  <div class="card-body">
    <h3 class="card-title">Collectibles</h3>
    <p class="text-muted" *ngIf="nfts.length === 0">No items</p>
    <div class="centered-image" *ngIf="nfts.length === 0">
      <img src="./assets/icons/Vector.svg" alt="SVG Image" style="width: 250px; height: 100%; " />
    </div>
    <div class="grid-container" *ngIf="nfts.length > 0">
      <div class="grid-item custom-grid-item" *ngFor="let nft of nfts" (click)="showNFTModal(nft)">
        <div class="image-container">
          <img width="100px" [src]="nft.token.metadata.sanitizedThumbnailUri" />
        </div>
        <p class="text-name">{{ nft.token.metadata.name }}</p>
      </div>

    </div>
  </div>
</div>