<div class="card no-shadow cardBox">
  <div class="card-body" style="padding: 30px">
    <div class="row operations-header">
      <div class="col-6">
        <h2 class="card-title">Operations</h2>
      </div>
      <div class="col-6 text-right">
        <a
          href="https://tzkt.io/{{ address }}"
          target="_blank"
          class="explorer-link"
          >View in Explorer</a
        >
        <img
          src="./assets/icons/FiExternalLink.svg"
          alt="SVG Image"
          style="width: 16px; height: 16px"
        />
      </div>
    </div>
    <div class="spinner-container" *ngIf="isLoading">
      <div class="spinner">
        <img
          src="./assets/icons/arrow-spin.svg"
          alt="Loading..."
          class="svg-spinner"
        />
      </div>
    </div>
    <div *ngIf="!isLoading && operations.length === 0" [@fadeInAnimation]>
      <div class="stateBox">
        <div class="metamaskTitle">No 'operations' to show</div>
        <div class="metamaskSubtitle">
          <p>Buy tez to see your operation history here...</p>
        </div>
        <button
          type="button"
          class="btn btn-outline-primary btn-circle mr-2"
          (click)="
            openLink(
              'https://widget.wert.io/01HNMCSXNZFNNFY1KG2ECE95A7/widget/?commodity=XTZ%3ATezos&address=' +
                address
            )
          "
        >
          Buy tez
        </button>
      </div>
    </div>

    <ng-container *ngIf="!isLoading">
      <div
        [@fadeInAnimation]
        class="card card-container"
        *ngFor="let op of operations"
      >
        <div class="card-body" style="padding: 15px">
          <div class="justify-content-between align-items-center">
            <div
              *ngIf="op.type !== 'transaction' && op.type !== 'tokenTransfer'"
              class="d-flex flex-column"
            >
              {{
                op.type === "origination"
                  ? "Origination"
                  : op.type === "delegation"
                  ? "Delegation"
                  : op.type === "reveal"
                  ? "Reveal"
                  : op.type
              }}
            </div>
            <div *ngIf="op.type === 'transaction'" class="d-flex flex-column">
              <div class="d-flex flex-row">
                <img
                  *ngIf="op?.target?.address === address"
                  src="./assets/icons/MdOutlineCallReceived.svg"
                  alt="Received"
                  style="
                    width: 18px;
                    height: 18px;
                    margin-right: 4px;
                    margin-top: 2px;
                  "
                />
                <img
                  *ngIf="op?.target?.address !== address"
                  src="./assets/icons/MdOutlineCallReceived.svg"
                  alt="Sent"
                  style="
                    color: #6e6e73;
                    width: 18px;
                    height: 18px;
                    margin-right: 4px;
                    margin-top: 2px;
                    transform: rotate(180deg);
                  "
                />
                <div class="flex-grow-1">
                  <p class="text-amount">
                    <span class="truncate-text truncate-container">
                      {{ op?.target?.address === address ? "+" : "-"
                      }}{{ op.amount / 1000000 }} tez
                    </span>
                  </p>
                </div>
              </div>

              <div
                class="d-flex align-items-center mobile-container"
                style="margin-left: 22px; justify-content: space-between"
              >
                <div class="elements-left">
                  <span
                    *ngIf="op?.target?.address === address"
                    class="text-address"
                  >
                    <strong style="font-weight: 600; font-family: Inter"
                      >From:</strong
                    >
                    {{ op?.sender?.address ?? "" | shortenString }}
                  </span>
                  <span
                    *ngIf="op?.target?.address !== address"
                    class="text-address"
                  >
                    <strong style="font-weight: 600">To:</strong>
                    {{ op?.target?.address ?? "" | shortenString }}
                  </span>
                  <img
                    (click)="
                      copyAddressToClipboard(
                        $event,
                        op?.target?.address === address
                          ? op.sender.address
                          : op.target.address
                      )
                    "
                    class="copy-button"
                    src="./assets/icons/FiCopy.svg"
                    alt="Copy"
                    style="width: 16px; height: 16px; margin-left: 6px"
                  />
                </div>
                <div class="elements-right d-flex align-items-center">
                  <div (click)="openLink('https://tzkt.io/' + op.hash)">
                    <span class="timestamp">{{
                      op.timestamp | timeago: "live"
                    }}</span>
                  </div>
                  <div>
                    <img
                      src="./assets/icons/MdOutlineCheckCircle.svg"
                      alt="Checked"
                      style="width: 16px; height: 16px; margin-left: 4px"
                    />
                  </div>
                </div>
              </div>
            </div>

            <!-- render token transfer -->
            <div *ngIf="op.type === 'tokenTransfer'" class="d-flex flex-column">
              <div class="d-flex flex-row">
                <img
                  *ngIf="op?.to?.address === address"
                  src="./assets/icons/MdOutlineCallReceived.svg"
                  alt="Received"
                  style="
                    width: 18px;
                    height: 18px;
                    margin-right: 4px;
                    margin-top: 2px;
                  "
                />
                <img
                  *ngIf="op?.to?.address !== address"
                  src="./assets/icons/MdOutlineCallReceived.svg"
                  alt="Sent"
                  style="
                    color: #6e6e73;
                    width: 18px;
                    height: 18px;
                    margin-right: 4px;
                    margin-top: 2px;
                    transform: rotate(180deg);
                  "
                />
                <div class="flex-grow-1">
                  <p class="text-amount">
                    <span class="truncate-text truncate-container">
                      {{ op?.to?.address === address ? "+" : "-"
                      }}{{ op.formattedAmount }}
                      <!-- {{ op.amount.toString() === "1" ? "NFT" : "NFTs" }} -->
                      {{ op.token?.metadata?.name }}
                    </span>
                  </p>
                </div>
              </div>

              <div
                class="d-flex align-items-center mobile-container"
                style="margin-left: 22px; justify-content: space-between"
              >
                <div class="elements-left">
                  <span *ngIf="op?.to?.address === address" class="text-address"
                    ><strong style="font-weight: 600; font-family: Inter"
                      >From:</strong
                    >
                    {{ op?.from?.address ?? "" | shortenString }}</span
                  >
                  <span *ngIf="op?.to?.address !== address" class="text-address"
                    ><strong style="font-weight: 600">To:</strong>
                    {{ op?.to?.address ?? "" | shortenString }}</span
                  >
                  <img
                    (click)="
                      copyAddressToClipboard(
                        $event,
                        (op?.to?.address === address
                          ? op.from?.address
                          : op.to?.address) ?? ''
                      )
                    "
                    class="copy-button"
                    src="./assets/icons/FiCopy.svg"
                    alt="Copy"
                    style="width: 16px; height: 16px; margin-left: 6px"
                  />
                </div>
                <div class="elements-right d-flex align-items-center">
                  <div
                    (click)="
                      openLink(
                        'https://tzkt.io/transactions/' + op.transactionId
                      )
                    "
                  >
                    <span class="timestamp">{{
                      op.timestamp | timeago: "live"
                    }}</span>
                  </div>
                  <div>
                    <img
                      src="./assets/icons/MdOutlineCheckCircle.svg"
                      alt="Checked"
                      style="width: 16px; height: 16px; margin-left: 4px"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
