.no-shadow {
    box-shadow: none;
}

.cardBox {
    width: 100%;
    min-width: 580px;
    min-height: 519px;
    border-radius: 20px;
    background: var(--Netural-1, #F5F5F7);
    box-shadow: none;
}

@media (max-width: 768px) {
    .cardBox {
        max-width: 100%;
        margin-left: 0;
    }
}

.explorer-link {
    color: #0F61FF;
    margin-right: 4px;
}

.card-container {
    width: 520px;
    height: auto;
    padding: 20px;
    border-radius: 10px;
    gap: 10px;
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.badge-light {
    background-color: #0079FF;
    color: #fff;
}

.timestamp {
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: right;
    color: #6E6E73;
}