name: Build and Deploy

on: push

jobs:
  build_angular:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Cache node modules
        uses: actions/cache@v4
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-
      - name: Node 16
        uses: actions/setup-node@v4
        with:
          node-version: 16.x

      - name: Prepare
        run: npm ci

      # - name: Prettier
      #   run: npm run actions:prettier

      - name: Build
        run: npm run build -- --prod

      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: angular_dist
          path: dist

  deploy_github_pages:
    needs: build_angular
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Cache node modules
        uses: actions/cache@v4
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-
      - name: Node 16
        uses: actions/setup-node@v4
        with:
          node-version: 16.x

      - name: Prepare
        run: npm ci

      - name: Deploy Github Pages
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: npm run actions:deploy
